---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://github.com/sandippokharel1996`}
      target="_blank">{platform}</a
    >!
  </p>
</footer>
